.discuss-form {
  div.info {
    border: 2px solid #dbdfe4;
    position: relative;
    margin: 0;
    padding: 1rem;
    //font-size: 1.5rem;
  }
}

.discuss-item {
  overflow: hidden;
  img.avatar {
    width: 40px;
    height: 40px;
  }
  .discuss-subs {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 40px;
      border-left: 1px solid darken($color: $body-bg, $amount: 5%);
    }
    &:hover {
      &::before {
        border-left: 3px solid darken($color: $body-bg, $amount: 15%);
      }
    }
  }
}

.discuss-node {
  background-color: darken($color: $body-bg, $amount: 5%);
}

.discuss-indent {
  padding-left: 40px;
}
