.back-to-top-btn {
  position: fixed;
  right: 16px;
  bottom: 16px;

  cursor: pointer;

  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 50% !important;

  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
.back-to-top-btn-enter-active {
  transition: all 0.3s ease;
}
.back-to-top-btn-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.3, 0.5, 1);
}
.back-to-top-btn-enter,
.back-to-top-btn-leave-to {
  transform: translateY(60px);
}
.back-to-top-btn-leave,
.back-to-top-btn-enter-to {
  transform: translateY(0px);
}
