.line-height-025 {
  line-height: 0.25rem;
}
.line-height-050 {
  line-height: 0.5rem;
}
.line-height-075 {
  line-height: 0.75rem;
}
.line-height-100 {
  line-height: 1;
}
.line-height-150 {
  line-height: 1.5rem;
}
.line-height-200 {
  line-height: 2rem;
}
.line-height-250 {
  line-height: 2.5rem;
}
.line-height-300 {
  line-height: 3rem;
}
.line-height-400 {
  line-height: 4rem;
}
.line-height-500 {
  line-height: 5rem;
}
